@model Zoologico.Areas.Gerenciamento.Models.Animal

@{
    ViewData["Title"] = "Animal";
}
<div class="item-align-center">
<form asp-action="Delete">
    <div class="card text-center mx-auto p-2" style=" width: 24rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p><img src="~/Image/excluir.png" /></p>
                    <h5 class="card-title fw-bold">Você tem certeza?</h5>
                    <p class="card-text">Essa ação irá excluir permanentemente essa informação. </p>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <button class="btn btn-outline-danger" asp-action="Select">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>