@model Zoologico.Areas.Gerenciamento.Models.Animal

@Html.Partial("_MenuAnimal")

@{
    ViewData["Title"] = "Animal";
}

<div class="card mx-auto p-2" style="width: 60rem;">
    <div class="card-body">
        <div class="row">
            <form asp-action="Edit" class="row g-4 align-items-center">
                <h5>Animal</h5>
                    <div class="col-auto">
                    <div class="form-floating mb-2">
                        <input readonly class="form-control" asp-for=" IdAnimal" />
                        <label asp-for="IdAnimal" class="control-label"></label>
                    </div>
                    <div class="form-floating mb-2">
                        <input readonly class="form-control" asp-for=" NomeAnimal" />
                        <label asp-for="NomeAnimal" class="control-label"></label>
                    </div>
                    <div class="form-floating mb-2">
                        <input readonly class="form-control" asp-for=" DataNasc" />
                        <label asp-for="DataNasc" class="control-label"></label>
                    </div>
                    </div>
                    <div class="col-auto">
                    <div class="form-floating mb-2">
                        <input readonly class="form-control" asp-for=" NomeEspecie" />
                        <label asp-for="NomeEspecie" class="control-label"></label>
                    </div>
                    <div class="form-floating mb-2">
                        <input readonly class="form-control" asp-for=" NomePorte" />
                        <label asp-for="NomePorte" class="control-label"></label>
                    </div>
                    <div class="form-floating mb-2">
                        <input readonly class="form-control" asp-for=" Peso" />
                        <label asp-for="Peso" class="control-label"></label>
                    </div>
                    </div>
                    <div class="col-auto">
                    <div class="form-floating mb-2">
                        <input readonly class="form-control" asp-for=" Sexo" />
                        <label asp-for="Sexo" class="control-label"></label>
                    </div>
                    <div class="form-floating mb-2">
                        <input readonly class="form-control" asp-for=" NomeDieta" />
                        <label asp-for="NomeDieta" class="control-label"></label>
                    </div>
                    <div class="form-floating mb-2">
                        <input class="form-control" asp-for=" NomeHabitat" />
                        <label asp-for="NomeHabitat" class="control-label"></label>
                    </div>
                    </div>
                    <div class="col-auto">
                    <div class="form-floating mb-3">
                        <textarea asp-for="DescricaoAnimal" class="form-control"></textarea>
                        <label asp-for="DescricaoAnimal" class="control-label"></label>
                        <span asp-validation-for="DescricaoAnimal" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2">
                        <textarea asp-for="ObsProntuario" class="form-control" ></textarea>
                        <label asp-for="ObsProntuario" class="control-label"></label>
                        <span asp-validation-for="ObsProntuario" class="text-danger"></span>
                    </div>

            <div class="form-group">
                        <button class="btn btn-outline-success" asp-controller="Habitat" asp-action="Select">Voltar</button>
                        <input type="submit" value="Atualizar" class="btn btn-success" />
            </div>
            </div>
        </form>
    </div>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
