@model Zoologico.Areas.Gerenciamento.Models.Habitat

@Html.Partial("_MenuHabitat")

@{
    ViewData["Title"] = "Habitat";
}

<div class="card mx-auto p-2 shadow-lg mb-5" style=" width: 18rem;">
    <div class="card-body ">
<div class="row ">
    <div class="col-md-12">
        <form asp-action="Edit">
                    <h5>Habitat</h5>
            <div class="form-floating mb-2">
                <input readonly class="form-control" asp-for="IdHabitat"/>
                <label asp-for="IdHabitat" class="control-label"></label>
            </div>
                    <div class="form-floating mb-2">
                        <input readonly asp-for="NomeHabitat" class="form-control" />
                        <label asp-for="NomeHabitat" class="control-label"></label>
                    </div>
                    <div class="form-floating mb-2">
                        <input asp-for="Capacidade" class="form-control"/>
                        <label asp-for="Capacidade" class="control-label"></label>
                        <span asp-validation-for="Capacidade" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2">
                <input asp-for="Vegetacao" class="form-control" />
                <label asp-for="Vegetacao" class="control-label"></label>
                <span asp-validation-for="Vegetacao" class="text-danger"></span>
                </div>
                    <div class="form-floating mb-2">
                <input asp-for="Clima" class="form-control" />
                <label asp-for="Clima" class="control-label"></label>
                <span asp-validation-for="Clima" class="text-danger"></span>
            </div>
                    <div class="form-floating mb-3">
                <input asp-for="Solo" class="form-control" />
                <label asp-for="Solo" class="control-label"></label>
                <span asp-validation-for="Solo" class="text-danger"></span>
            </div>

            <div class="form-group">
                        <button class="btn btn-outline-success" asp-controller="Habitat" asp-action="Select">Voltar</button>
                        <input type="submit" value="Atualizar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
