@model Zoologico.Areas.Gerenciamento.Models.Consulta

@Html.Partial("_MenuProntuario")


@{
    ViewData["Title"] = "Prontuário";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p><img src="~/Image/prontuario.png" width="100%" /></p>
        </div>
        <div class="col-6 col-md-6 ">
            <div class="row">
                <p class="fs-3 fw-bold">Cadastre uma Consulta</p>
                <p class="lh-sm">Ao cadastrar esta consulta, lembre-se de verificar se todos os campos foram preenchidos corretamente</p>
                <form asp-controller="Prontuario" asp-action="Insert">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-2">
                        <input asp-for="Alergia" class="form-control" placeholder="Alergia" />
                        <span asp-validation-for="Alergia" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <input asp-for="Peso" class="form-control" placeholder="Peso" />
                        <span asp-validation-for="Peso" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <textarea asp-for="DescricaoHistorico" class="form-control" placeholder="Descrição" ></textarea>
                        <span asp-validation-for="DescricaoHistorico" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-success" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
